<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!--<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:tcp://localhost/~/banking_test" /> 
		<property name="username" value="sa" />
		<property name="password" value="" />-->
		
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://ec2-174-129-41-64.compute-1.amazonaws.com:5432/d5v1qh58hstr3r" /> <!-- ec2-54-163-246-193.compute-1.amazonaws.com -->
		<property name="username" value="lvdwjqbropcvmv" />
		<property name="password" value="2fd64d13159b40843ba11094b12ff901fe0a6b74668c68d47abd391ebff6263b" />
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop> <!-- H2Dialect -->
				<prop key="hibernate.hbm2ddl.auto">update</prop><!-- update -->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.pascalarvee.banking</value>
			</list>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<security:http auto-config="true">
		<security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" /> <!-- access="ROLE_USER" -->
		<security:intercept-url pattern="/user/**" access="ROLE_USER" />
		<security:form-login
			login-page="/"
			default-target-url="/default/"
			authentication-failure-url="/?error"
			username-parameter="username"
			password-parameter="password" />
		<security:logout logout-success-url="/?logout" />
	</security:http>
	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service data-source-ref="dataSource"
				authorities-by-username-query="SELECT username,authority FROM authorities WHERE username=?"
				users-by-username-query="SELECT username,password,enabled FROM users WHERE username=?" />
		</security:authentication-provider>
	</security:authentication-manager>
	
	<bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="10" />
	</bean>
</beans>
